<template>
    <button v-bind:class="currentClass"></button>
</template>

<script>
    export default {
        name: 'color-button',
        props: [
            'color',
            'isactive'
        ],
        computed: {
            currentClass: function() {
                if(this.isactive) {
                    return this.color + " active";
                } else {
                    return this.color;
                }
            }
        },
        methods: {
            switchActive: function () {
                this.isactive = !this.isactive
            }
        }
    }
</script>