<template>
    <button>{{ label }}</button>
</template>

<script>
    export default {
        name: 'start-stop',
        props: [
            'running'
        ],
        computed: {
            label: function() {
                if(this.running) {
                    return "Stop";
                } else {
                    return "Start";
                }
            }
        }
    }
</script>