<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Simon's Ga</title>
        <link rel="stylesheet" href="main.css">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>

    <body>
        <div id="app">
            <div class="game" v-show="showTab">
                <span>
                    {{ currentLevel }}
                </span>
                <div class="buttons">
                    <button 
                        v-for="(button, index) in buttons" 
                        v-bind:class="[button.isActive ? button.activeClass : button.inactiveClass]"
                        v-on:click="switchActive(index)">
                        {{ button.name }}
                    </button>
                </div>
            </div>
            
            <div class="run">
                <div v-show="!running">
                    <button v-on:click="start">Start</button>
                </div>

                <div v-show="running">
                    <button v-on:click="stop">Stop</button>
                </div>
            </div>
        </div>
        <script src ="main.js" ></script>
    </body>
</html>