.game {
    text-align: center;
}

.buttons {
    margin: auto;
    max-width: 300px;
}

.run {
    margin: auto;
    width: 50px;
    height: 30px;
}

.buttons button {
    width: 150px;
    height: 100px;
    border-radius: 50%;
}

.green {
    background-color: #4bae4f;
}

.greenBorder {
    border: 2px solid;
    border-color: #4bae4f;
}
  
.red {
    background-color: #f34236;
}

.redBorder {
    border: 2px solid;
    border-color: #f34236;
}

.blue {
    background-color: #2196f3;
}

.blueBorder {
    border: 2px solid;
    border-color: #2196f3;
}
  
.yellow {
    background-color: #fcbf07;
}

.yellowBorder {
    border: 2px solid;
    border-color: #fcbf07;
}

* {
    outline: 0;
}