<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Simon's Game</title>
        <link rel="stylesheet" href="main.css">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>

    <body>
        <div id="app">
            <div class="game" v-show="showTab">
                <current-level v-bind:level="level"></current-level>

                <div class="buttons">
                    <color-button ref="colorActive" v-for="(button, index) in buttons"  :key="index"
                                  v-bind:color="button.color"
                                  v-bind:isactive="button.isActive"
                                  v-on:click.native="switchActive(index)">
                    </color-button>
                </div>
            </div>
            
            <div class="run">
                <start-stop v-on:click.native="startStop" v-bind:running="running"></start-stop>
            </div>
        </div>
        <script src ="main.js" ></script>
    </body>
</html>