.game {
    text-align: center;
}

.buttons {
    margin: auto;
    max-width: 300px;
}

.run {
    margin: auto;
    width: 50px;
    height: 30px;
}

.green.active {
    background-color: #4bae4f;
}

.green {
    border-color: #4bae4f;
}
  
.red.active {
    background-color: #f34236;
}

.red {
    border-color: #f34236;
}

.blue.active {
    background-color: #2196f3;
}

.blue {
    border-color: #2196f3;
}
  
.yellow.active {
    background-color: #fcbf07;
}

.yellow {
    border-color: #fcbf07;
}

.buttons button {
    width: 150px;
    height: 100px;
    border-radius: 50%;
}

* {
    outline: 0;
}