<template>
  <div class="games">
    <h1>Game list</h1>
    <p>In these page, you'll find a list of games</p>
    <p>Select one, and do your best !</p>
    <div id="gamelist">
      <ul>
        <li>
          <router-link to="/simon"><img src="../assets/simon.png" />Simon Game</router-link>
        </li>
        <li>
          <img src="../assets/no-image.png" />Coming Soon
        </li>
        <li>
          <img src="../assets/no-image.png" />Coming Soon
        </li>
        <li>
          <img src="../assets/no-image.png" />Coming Soon
        </li>
      </ul>
    </div>  
    <router-view/>
  </div>
</template>

<style>
  .games {
    text-align: center;
    padding: 10px;
  }

  #gamelist{
    max-width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  li{
    text-align: center;
    max-width: 50px;
    list-style-type: none;
    display: inline-block;
    padding: 10px;
  }

  ul{
    padding-left: 0;
  }

  li img{
    width: 50px;
  }

  li a{
    text-decoration: none;
  }
</style>
