<template>
  <div id="simon">
    <div class="game" v-show="showTab">
      <current-level v-bind:level="level" />

      <div class="buttons">
        <color-button ref="colorActive" v-for="(button, index) in buttons"  :key="index"
          v-bind:color="button.color"
          v-bind:isactive="button.isActive"
          v-on:click.native="switchActive(index)" />
      </div>
    </div>
            
    <div class="run">
      <start-stop v-on:click.native="startStop" v-bind:running="running" />
    </div>
  </div>
</template>

<script>
import StartStop from '../components/StartStop.vue'
import CurrentLevel from '../components/CurrentLevel.vue'
import ColorButton from '../components/ColorButton.vue'

export default {
  name: 'App',
  components: {
    'current-level' : CurrentLevel,
    'color-button' : ColorButton,
    'start-stop' : StartStop
  },
  data: function() {
    return {
      running: false,
      showTab: false,
      level: 1,
      buttons: [
        { isActive: false, color: "red" },
        { isActive: false, color: "green" },
        { isActive: false, color: "blue" },
        { isActive: false, color: "yellow" }
      ],
      series: [],
      inputSeries: [],
      colorsPlayed: 0,
      sounds: [
        new Audio('https://s3.amazonaws.com/freecodecamp/simonSound1.mp3'),
        new Audio('https://s3.amazonaws.com/freecodecamp/simonSound2.mp3'),
        new Audio('https://s3.amazonaws.com/freecodecamp/simonSound3.mp3'),
        new Audio('https://s3.amazonaws.com/freecodecamp/simonSound4.mp3')
      ]
    }
  },
  methods: {
    switchActive: function(index) {
      this.colorsPlayed = this.colorsPlayed + 1;
      this.series.push(index);
      this.checkPlay();
      this.switchColor(index, 0);
      this.switchColor(index, 200);
      this.playSound(index);
    },
    playSound: function(index) {
      this.sounds[index].play();
    },
    startStop: function() {
      if(this.running) {
        this.stop();
      } else {
        this.start();
      }
    },
    start: function() {
      this.running = true;
      this.showTab = true;
      this.inputSeries = [];
      this.playLevel();
    },
    stop: function() {
      this.running = false;
      this.showTab = false;
      this.level = 1;
      for(let i = 0; i < this.buttons.length; i++) {
        this.buttons[i].isActive = false;
      }
      this.colorsPlayed = 0;
    },
    checkSeries: function() {
      for(let i = 0; i < this.level; i++) {
        console.log("Serie " + this.series[i] + " Input " + this.inputSeries[i])
        if(this.series[i] != this.inputSeries[i]) {
          return false;
        }
      }
      return true;
    },
    checkSelection: function(index) {
      return this.series[index] != this.inputSeries[index];
    },
    playLevel: function() {
      this.series = [];
      this.colorsPlayed = 0;
      this.generateSeries();
      this.showSeries();
    },
    generateSeries: function() {
      var button = Math.floor(Math.random() * Math.floor(4));
      this.inputSeries.push(button);
    },
    checkPlay: function () {
      if(this.colorsPlayed == this.level) {
        if(this.checkSeries()) {
          this.level = this.level + 1;
          setTimeout(() => { this.playLevel() }, 300);
        } else {
          alert("Perdu ! Votre score est de " + (this.level-1));
          this.stop();
        }
      }
    },
    showSeries: function() {
      for(let i = 0; i < this.inputSeries.length; i++) {
        var index = this.inputSeries[i];
        this.switchColor(index, 0 + 300*i);
        this.switchColor(index, 400 + 300*i);
      }
    },
    switchColor: function(index, lapse) {
      setTimeout(() => { this.buttons[index].isActive = !this.buttons[index].isActive; }, lapse);
    }
  }
}
</script>

<style>
.game {
    text-align: center;
}

.buttons {
    margin: auto;
    max-width: 300px;
}

.run {
    margin: auto;
    width: 50px;
    height: 30px;
}

.green.active {
    background-color: #4bae4f;
}

.green {
    border-color: #4bae4f;
}
  
.red.active {
    background-color: #f34236;
}

.red {
    border-color: #f34236;
}

.blue.active {
    background-color: #2196f3;
}

.blue {
    border-color: #2196f3;
}
  
.yellow.active {
    background-color: #fcbf07;
}

.yellow {
    border-color: #fcbf07;
}

.buttons button {
    width: 150px;
    height: 100px;
    border-radius: 50%;
}

* {
    outline: 0;
}
</style>
